# Ignore common data and cache files
.idea/
.ipynb_checkpoints/
.virtual_documents/
.vscode/
*.tar
*.tar.gz
*.tar.bz2
*.tar.xz
*.pyc
*.xml
*.svs
*.txt
*.sums
*.xlsx
*.log
data/
__pycache__/
/plots/
/outputs/opt_gpu_analyse/
/outputs/vanil_gpu_analyse/
/outputs/opt_cpu_analyse/

*.log
outputs/preprocessing/logs/preprocessing.log
outputs/phase1/models/model_phase1.pth
outputs/patches
*.tfevents.*
*.wandb
