# Ignore common data and cache files
.idea/
.ipynb_checkpoints/
.virtual_documents/
.vscode/
*.tar
*.tar.gz
*.tar.bz2
*.tar.xz
*.pyc
*.xml
*.svs
*.txt
*.sums
*.xlsx
*.log
*.zarr
*.env
*.pth
*.npy
*.bkup
*.zip

data/
__pycache__/
/plots/
/wandb/
/zarr_raw/
/zarr_norm/
/docs/

*.log
outputs/phase1/models/model_phase1.pth
outputs/patches_index_val.csv
outputs/ref_stain_stats.npz
outputs/patches_index_train.csv
outputs/patches
outputs/phase1
outputs/test_large_dataset
*.tfevents.*
*.wandb
outputs/patches_index_train.csv
outputs/evaluation/patches
"*.csv" 
"outputs/" 
