# Ignore common data and cache files
.idea/
.ipynb_checkpoints/
.virtual_documents/
.vscode/
*.tar
*.tar.gz
*.tar.bz2
*.tar.xz
*.pyc
*.xml
*.svs
*.csv
*.txt
*.sums
*.xlsx
*.png
*.log
data/
__pycache__/

*.log
outputs/preprocessing/logs/preprocessing.log
outputs/phase1/models/model_phase1.pth
*.tfevents.*
